.button {
    background-color: transparent;
    border-color: #1ad1b9;
    color: #1ad1b9;
}
.button:hover , 
.button:active {
    color: white;
}
.button span:nth-child(1) {
    padding: 0  1.5rem;
}
.badge {
    background-color: #1ad1b9;
    border-radius: 20px;
    padding: 0.2rem 0.25rem ;
    color: #1d1d1d;
}